.cart {
    position: sticky;
    top: 0;
}

.clear-cart-btn {
    background-color: #FF3030;
    border-radius: 4px;
    color: white;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    letter-spacing: 0.05em;

}